<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Tutorial of Thymeleaf</title>
</head>
<body>
    <h1 th:text="#{content.title}"></h1>
    <p th:text="#{content.subtitle}"></p>
    <p th:text="#{content.message}"></p>
    <p th:unless="${previous} eq null" th:text="'前回入力された値は「' + ${previous} + '」でした。'"></p>
    <form method="post" action="/output">
        <input type="text" name="previous">
        <button th:text="#{content.button}" type="submit"></button>
    </form>
</body>
</html>
